:root{
    --nuestroColor: rgb(140, 230, 190);
    --blanco: #D6D2C4;
    --segundoColor: #def1f8;
}
body
{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, p, li, a, form, button, input
{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

/*cambios del header */
header
{
    margin-bottom: 3vh;
    text-align: center;
}

h1
{
    text-align: center;
    width: 75%;
    line-height: 120%;
    padding-bottom: 20px;
}

.logo
{
    width: 100%;
    padding-top: 2vh;
}

.texto_header
{
    width: 75%;
    text-align: center;
}

/*Cambios del menú mediante el nav*/
.navPrincipal
{
    width: 100%;
    background-color: var(--nuestroColor);
    text-align: center;
}

.navPrincipal ul
{
    margin: 0;
    padding: 0;
}

.navPrincipal li
{
    display: inline;
}

.navPrincipal a
{
    padding-left: 2vw;
    padding-right: 2vw;
    color: black;
    text-decoration: none;
}

.navPrincipal li:hover
{
    background-color: #def1f8;
    animation-name: navHover;
    animation-duration: 0.25s;
}

.ratonMano
{
    cursor: pointer;
}

/* elementos donde se explicar de que va el 
 crowfounding.*/

.informacion_principal{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;

}
#texto_informacion{
    margin-bottom: 2vh;
    flex: 2;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 20px;
}

.columnas_informacion
{
    flex: 3;
}

.columnas_informacion img{
    height: 100%;    
    width: 100%;
    object-fit: cover;
}

.recaudacion{
    font-weight: bold;
    margin-top: 2vh;
    
}
.personas_apoyo{
    flex: 1;
}

.dinero{
    display: flex;
}

.textoPorcentaje{
    flex: 1;
    margin-top: 1vh;
}

.barraProgreso{
    flex: 10;
    width: 100%;
    height: 20px;
    margin-top: 1vh;
    margin-left: 3%;
    margin-bottom: 10SSvh;
    border: 1px solid #000000;
    background-color: #cccccc;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.porcentaje{
    width: 50%;
    height: 20px;
    background-color: var(--nuestroColor);
    border-right: 1px solid #000000;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}

/*Layout de los botones de donación*/
.botones
{
    display: flex;
}

.button
{
    flex: 1;
    height: 4vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    background-color: var(--nuestroColor);
    border-radius: 6px;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
}

#enlace_donar
{
    color: white;
    text-decoration: none;
}

#enlace_donar:hover{
    color: var(--nuestroColor);
}

.botones button:hover
{
    color: var(--nuestroColor);
    background-color: #ffffff;
}

.botones button:hover > #enlace_donar
{
    color: var(--nuestroColor);
    background-color: #ffffff;
}

/* Imagenes de la parte inferior de la web*/
.imagenes_secundarias{
    display:flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.imagenes_desastre{
    flex:1;
    width: 30vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;  
}

/* Layout de las imágenes de abajo*/

.imagenes_desastre img{
    height: 40vh;
    padding:5%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
/* Layout del pie de página*/
footer{
    background-color: var(--nuestroColor);
    text-align: center;
    padding:1%;
    
}
/* Layout de los comentarios*/
.comentario_Inicio{
    display: flex;
    flex-flow: row-reverse;
    background-color: #efefef;
    margin-top: 1vh;
    padding-top: 10px;
    padding-left: 4vw;
}

.comentarios
{
    flex: 6;
    width: 80%;
    padding-bottom: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 1vh;
}

.comentario
{
    display: flex;
    border: #e6e6e6;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    margin-bottom: 10px;
    padding-right: 30px;
    border-radius: 10px;
    line-height: 120%;
}
.comentar{

    border: #e6e6e6;
    border-style: solid;
    height: 3vh;
    width: 20vw;
    border-width: 1px;
    background-color: white;
    margin-bottom: 10px;
    padding-right: 20px;
    line-height: 120%;
}
.botonComents{
    color: black;
    background-color: var(--nuestroColor);
    text-decoration: none;
    width: 5vw;
    height: 30px;
    margin-bottom: 20px;
}
.columna_foto
{
    flex: 1;
}

.foto_comentador
{
    width: 60px;
    margin: 20px;
    border-radius: 100%;
}

.columna_comentario
{
    flex: 10;
}
/*Layout de login*/
.login
{
    flex:1;
    width: 200px;
}

.inputForm
{
    width: 100%;
}

.botonForm
{
    color: black;
    background-color: var(--nuestroColor);
    text-decoration: none;
    width: 40%;
    height: 30px;
    margin-bottom: 25px;
}

.regreso
{
    background: none;
    border-width: 0px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 100%;
}

.regreso:hover
{
    background-color: white;
    border-width: 1px;
}

/* Layout de los tipos de titulos y párrafos.*/

h1{
    text-align: center;
    margin: auto;
    font-size: 45px;
}
h2
{
    width: 55%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
h3{
    /*color: var(--blanco);*/
    text-decoration:bold
}
p{
    color: rgb(49,48,48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: size 18px;;
}

@keyframes navHover
{
    from
    {
        background-color: var(--nuestroColor);
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
    }
    to
    {
        background-color: var(--segundoColor);
        border-top-right-radius: 0%;
        border-top-left-radius: 0%;
    }
}

@media only screen and (max-width: 640px)
{
    .comentario_Incio
    {
        display: block;
        background-color: #efefef;
        margin-top: 1vh;
        padding-top: 10px;
        padding-left: 4vw;
        margin: 0%;
        padding-bottom: 25px;
    }

    .login
    {
        width: 100%;
        text-align: center;
    }

    .comentarios
    {
        width: 95%;
        padding: 0%;
        padding-bottom: 10px;
    }

    .comentario
    {
        width: 95%;
        padding-right: 25px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .inputForm
    {
        width: 50%;
    }

    .imagenes_secundarias
    {
        display: block;
    }

    .imagenes_desastre
    {
        width: 80%;
        padding-left: 5vh;
    }
}

@media only screen and (max-width: 1020px)
{
    .informacion_principal
    {
        width: 95%;
    }
}

@media only screen and (max-width: 720px)
{
    .informacion_principal
    {
        display: block;
    }

    .foto_principal
    {
        width:100%;
    }

    .columnas_informacion
    {
        width:100%;
    }
}