:root
{
    --nuestroColor: rgb(140, 230, 190);
}

body
{
    margin: 0px;
    padding: 0px;
}

.banner
{
    width: 100%;
}

.proyectos
{
    text-align: center;
    display: flex;
}

.proyecto
{
    flex: 1; 
    margin-left: 1%;
    margin-left: 1%;
}

.proyecto button
{
    text-decoration: none;
    color: black;
    background-color: var(--nuestroColor);
    text-decoration: none;
    width: 75%;
    height: 5vh;
}

.proyecto a
{
    text-decoration: none;
    color: black;
}

footer
{
    margin-top: 3%;
    background-color: var(--nuestroColor);
    text-align: center;
    padding: 1%;
}