:root
{
    --nuestroColor: rgb(140, 230, 190);
}

body
{
    margin: 0px;
}

.banner
{
    background-image: image('images/index-banner.jpg');
    height: 500px;
    background-repeat: repeat;
}

.botones
{
    text-align: center;
}

.botones button
{
    background-color: var(--nuestroColor);
    width: 15%;
    margin-left: 1%;
    margin-left: 1%;
}

footer
{
    background-color: var(--nuestroColor);
    text-align: center;
}